<h4>{{list.title}}</h4>
<ul>
  {{#each list.items as |item|}}
    <li>{{item.name}}</li>
  {{/each}}
</ul>

{{#if isExpanded}}
  <div class="fill">
    {{input value=itemName}}
    <button style='display: none;' class='item-save' {{action "addItem"}}>Save Item</button>
  </div>
{{else}}
  <a href="#" {{action "expand"}}>Add item</a>
{{/if}}