<h4>{{list.title}}</h4>
<ul>
  {{#each list.items as |item|}}
    <li>{{item.name}}</li>
  {{/each}}
</ul>

{{#if isExpanded}}
  <div class="fill">
    {{!-- <label>Item Name</label> --}}
    {{input value=itemName}}
{{!--     <label>Item Description</label>
    {{input value=itemDescription}}
    <button {{action "addItem"}}>Save Item</button> --}}
  </div>
{{else}}
  <a href="#" {{action "expand"}}>Add item</a>
{{/if}}